.ssh
webapp.sub*
resources/logs/*
.lein-repl-history
.nrepl-port
.*DS_Store
.*pom.properties
resources/public/js/*
target/*
private
target/classes
target/classes/META_INF/maven/webapp/webapp
target/classes/META_INF/maven/webapp/webapp/pom.properties
.repl
.*ec-init.clj
*.ec-init.clj
